html,body{
    margin:0;
    padding: 0;
    height: 100%;
}

/* Navigation ---------------------------------------- */

.navigation{
    margin-bottom: 0;
    opacity: 0.8;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.placeholder {
    height: 51px;
    width: 100%;
}

.sectionContainer {
    height: 100%;
    width: 100%;
}
.placeholder2 {
    height: 20%;
    width: 100%;
}



/* Index --------------------------------------------- */
.main{
    height:100%;
}

.indexMain{
    height:200%;
}

[data-slides] {
    background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: background-image 1s linear;
}

.indexFirstSection{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-image: url(../Images/OAI_Grau.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.indexSecondSection{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotronIndex{
    background: transparent;
    color: white;
    text-align: right;
}



/* Auslandsjahr --------------------------------------------- */

.auslandsjahrMain{
    height:200%;
}

.auslandsjahrFirstSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-image: url(../Images/OAI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auslandsjahrSecondSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Studiengang --------------------------------------------- */

.studiengangMain{
    height:200%;
}

.studiengangFirstSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-image: url(../Images/OAI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.studiengangSecondSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Events --------------------------------------------- */

.eventsMain{
    height:200%;
}

.eventsFirstSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-image: url(../Images/OAI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.eventsSecondSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Impressum --------------------------------------------- */

.impressumMain{
    height:200%;
}

.impressumFirstSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-image: url(../Images/OAI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.impressumSecondSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Kontakt --------------------------------------------- */

.kontaktMain{
    height:200%;
}

.kontaktFirstSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-image: url(../Images/OAI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kontaktSecondSection{
    height:50%;
    margin: 0;
    padding: 0; 
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Footer ---------------------------------------------- */

.footer{
    height: 20%;
    width:100%;
}

.footerSection{
    height: 100%;
    margin: 0;
    padding: 0;   
    position: relative;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #777;
    padding: 10px;
}


.footerList li{
    display: inline-block;
    float: none;
    vertical-align: top;
    align-items: center;
}

.footerList a{
    color: #777;
}

.footerList a:hover{
    color: #333;
}

